# Next.js
.next/
out/
.vercel
.env*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/
dist/
build/

# ML artifacts
*.joblib
*.pkl
*.h5

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
